body{
    background-color: rgb(73, 27, 172);
}
.container{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.input textarea{
    height: 60vh;
    width: 40vw;
    
    border: 3px dashed rgb(6, 62, 29);
    border-radius: 1rem;
    padding: 1rem;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.output-text{
    display: inline-block;
    height: 60vh;
    width: 30vw;
    background-color: rgb(156, 148, 148);
    box-shadow: 8px 10px 10px 2px rgb(161, 114, 114);
    border-radius: 1rem;
    padding: 1rem;
    font-family: cursive;
    overflow-wrap: break-word;
    overflow-y: auto;
    /* background-attachment: fixed; */
}

.output-text:hover{
    box-shadow: 8px 10px 10px 5px rgb(193, 191, 191)
}
.btn{
    color: white;
    position: absolute;
    /* left: 42.3rem;
    bottom: 12rem; */
    left: 50%;
    top: 50%;
    height: 6vh;
    width: 7vw;
    background-color: rgb(72, 100, 110);
    font-size: 1.5rem;
    cursor: pointer;
    text-overflow:inherit;

}
.btn:hover{
     background-color: blue;
    box-shadow: 8px 10px 10px 5px black
}
h3{
    font-size: 40px;
    text-decoration:  5px dotted rgb(220, 222, 216);
    text-shadow: 0px 5px 5px yellowgreen ;
}